// Specific CSS for your home-page
// margin: top right bottom left

/* Phones */
@media (max-width: 768px) {
  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 3rem;
    font-family: $headers-font;
  }

  .form-container {
    position: relative;
    transform: translateY(-50%);
    margin: 0 auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #season-form {
    width: 90%; /* Adjust the width as needed */
  }

  #submit-button {
    text-align: center;
    margin-top: 2rem; /* You can adjust the margin-top as needed */
  }

  #welcome-header {
    font-family: $headers-font;
    margin-bottom: 9%;
  }

  .heading-container {
    padding: .5rem; /* Adjust padding as needed */
  }
}



/* Tablet/Desktop */
@media (min-width: 769px) and (max-width: 4000px) {
  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    width: 75%;
    gap: 3rem;
    margin-bottom: 3%;
    font-family: $headers-font;
  }

  .form-container {
    position: relative;
    // top: 38%;
    transform: translateY(-50%);
    // margin-top: -10px; /* Adjust this value to control top margin */
    // margin-bottom: -10px; /* Adjust this value to control bottom margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% auto;
  }



  #season-form {
    width: 40%;
  }


  #submit-button {
    text-align: center;
    // margin-top: 5%;
  }

  #welcome-header {
    // margin-top: 5%;
    font-family: $headers-font;
  }

}
