// Specific CSS for your home-page
// margin: top right bottom left


.landing-container {
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  width: 75%;
  gap: 5rem;
  margin-top: 1%;
}

.form-container {
  position: relative;
  top: 38%;
  transform: translateY(-50%);
  margin-top: -10px; /* Adjust this value to control top margin */
  margin-bottom: -10px; /* Adjust this value to control bottom margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3% auto;
}



#season-form {
  width: 40%;
}


#submit-button {
  text-align: center;
  margin-top: 5%;
}

#welcome-header {
  margin-top: 5%;
}

.heading-container{
  padding: .75%;
}
