<div class="landing-container" turbo-frame id="landing-page">
  <div id="welcome-header">
    <h1>NBA Guesser (beta)</h1>
  </div>

  <div class="form-container" turbo-frame id="season-form">
      <%= simple_form_for :season, url: root_path, remote: true, method: :post do |f| %>
        <%= f.input :season, collection: (1950..2023).to_a.reverse.map(&:to_s), prompt: 'Select a season', label: false %>
        <div id="submit-button">
          <%= f.button :submit, 'Play', class: "button-main", id: "play-button" %>
        </div>
      <% end %>
  </div>
</div>
