<div class="page-container">

  <div class="heading-container">
    <h1>You suck and your family hates you.</h1>

    <% if session[:correct_player_name].present? %>
      <h2>The correct answer was <%= session[:correct_player_name] %></h2>
    <% end %>
  </div>

    <% if session[:correct_player_image].present? %>
      <%= image_tag(session[:correct_player_image], alt: "Correct Player Image") %>
    <% end %>

  <br>
  <br>
  <br>

  <div class="button-main-container">
    <%= link_to "Try again!", root_path, class: "button-main"%>
  </div>

</div>
