<!-- Top Navbar -->

<div class="bar bar-top">
  <%# <div class="button-container"> %>
    <button id = showStats>Statistics</button>
    <button id = showInstructions >Instructions</button>
  <%# </div> %>
</div>

<!-- Modal -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class= "stats-container">
      <div id="statsContent"></div>
      <div id="statsContent1"></div>
      <div id="statsContent2"></div>
    </div>
    <div class="instructions-container">
      <div id="instructionsContent"></div>
      <br>
      <div id="instructionsContent1"></div>
      <br>
      <div id="instructionsContent2"></div>
    </div>
  </div>
</div>

<!-- Page content -->

<div class="result-page-container">

  <div class="result-container">
    <h1>Close but no cigar.</h1>
  </div>

  <div class="subheading-container">
    <h2>The correct answer was</h2>
  </div>

  <div class="player-card">
    <% if session[:correct_player_image].present? %>
      <%= image_tag(session[:correct_player_image], alt: "A picture of #{session[:correct_player_name]}") %>
    <% end %>
    <% if session[:correct_player_name].present? %>
      <h2><%= session[:correct_player_name] %></h2>
    <% end %>
  </div>

  <div class="result-button-container">
    <%= link_to "Try again!", root_path, class: "button-main", data: { turbolinks: false }%>
  </div>

</div>

<!-- Bottom Navbar -->

<div class="bar bar-bottom">
  <a href="https://grantchichester.me" target="_blank">
    <button>Made by Grant</button>
  </a>
</div>
