<!-- Top Navbar -->

<div class="bar bar-top">
  <%# <div class="button-container"> %>
    <button id = showStats>Stats</button>
    <button id = showInstructions >Instructions</button>
  <%# </div> %>
</div>

<!-- Modal -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="modalContent"></div>
  </div>
</div>

<!-- Page content -->

<div class="page-container">

  <div class="result-container">
    <h1>Nice work hoophead!</h1>
  </div>


  <div class="subheading-container">
    <h2>The correct answer was</h2>
  </div>



  <div class="player-card">
    <% if session[:correct_player_image].present? %>
      <%= image_tag(session[:correct_player_image], alt: "A picture of #{session[:correct_player_name]}") %>
    <% else %>
    <% end %>
    <% if session[:correct_player_name].present? %>
      <h2><%= session[:correct_player_name] %></h2>
    <% end %>
  </div>


  <div class="result-button-container">
    <%= link_to "Try again!", root_path, class: "button-main"%>
  </div>

</div>

<!-- Bottom Navbar -->

<div class="bar bar-bottom">
  <h5>Made by Grant</h5>
</div>
