.guess-counter-container {
  position: fixed;
  top: 10dvh;
  right: 8dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20dvh;
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vh 0;
}

.label {
  width: 10vh;
  text-align: left;
  padding-right: 2vh;
  font-weight: bold;
}

.guess-bar {
  height: 2vh;
  width: 10vh;
  background-color: #00ADB5;
  transition: width 0.5s;
  border-radius: 1vh;
}

.number {
  font-size: 1.5vh;
  color: #333;
  text-align: center;
}
