// LANDING PAGE ELEMENTS

.landing-container {
  position: fixed;
  top: 38%;
  transform: translateY(-50%);
  margin-top: -10px; /* Adjust this value to control top margin */
  margin-bottom: -10px; /* Adjust this value to control bottom margin */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
}

#season-form {
  width: 75%;
}


#submit-button {
  text-align: center;
  margin-top: 5%;
}
