.result-container{
  padding: 1%;
  margin: 1%;
}

.subheading-container{
  padding: 1%;
}

.img-container{
  padding: 1%;
  margin: 1% 1% 5% 1%;
}

.result-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}
