.bar {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: .4%;
}

.bar-bottom{
  position: fixed;
  bottom: 0;
  margin-top: 1%;
  width: 100
}


.bar-top{
  position: relative;
  top: 0;
  margin-bottom: 1%;
}


.bar h5 {
  text-decoration: none;
  margin: 0;
}


.button-container {
  background-color: #333;
  display: flex;
  gap: 20%;
}
