// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: #DBE4EE;
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
::-webkit-meter-optimum-value .application-container {
  height: 100vh;
  width: 100vw;
}

// Blue color #2D66C8

.page-container {
  padding: 8px 30px 16px 40px;
}

.player-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.player-card img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.player-card h2 {
  margin-bottom: 5px;
}

.player-card p {
  margin-bottom: 3px;
}

.player-card .stat {
  font-weight: bold;
  color: #ff0000;
}
