// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: #EEEEEE;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}
::-webkit-meter-optimum-value .application-container {
  height: 100vh;
  width: 100vw;
}

.page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5%;
}

.page-container-two {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 5%;
}

.hide-element {
  display: none !important;
}
